*.bgn
*.bin
*.bit
*.bld
*.cdf
*.cfi
*.cmd
*.cmd_log
*.csv
*.data
*.drc
*.exe
*.gise
*.html
*.ini
*.ipf
*.log
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.prm
*.ptwx
*.stx
*.syr
*.tcl
*.twr
*.twx
*.txt
*.unroutes
*.un~
*.ut
*.wcfg
*.wdb
*.xml
*.xpi
*.xrpt
*.xsl
*.xst
*.xwbt
_ngo/
_xmsgs/
iseconfig/
isim/
planAhead_run_1/
webtalk*
work/
xlnx_auto_0_xdb/
xst/
