NET clk TNM_NET = clk;
timespec ts_clk = period clk 20.83 ns high 50%;

NET clk LOC = "K14" | IOSTANDARD = LVCMOS33;

#NET                 LOC = "B14" | IOSTANDARD = LVCMOS33; # 73
#NET                 LOC = "A14" | IOSTANDARD = LVCMOS33; # 74
#NET                 LOC = "C13" | IOSTANDARD = LVCMOS33; # 76
#NET                 LOC = "D11" | IOSTANDARD = LVCMOS33; # 77
#NET                 LOC = "D12" | IOSTANDARD = LVCMOS33; # 78
#NET                 LOC = "F10" | IOSTANDARD = LVCMOS33; # 79
#NET                 LOC = "E11" | IOSTANDARD = LVCMOS33; # 80
#NET                 LOC = "E10" | IOSTANDARD = LVCMOS33; # 82

NET rx_out          LOC = "C7" | IOSTANDARD = LVCMOS33; # 92
NET reset_out       LOC = "A7" | IOSTANDARD = LVCMOS33; # 93
NET reset_inv       LOC = "F7" | IOSTANDARD = LVCMOS33; # 95
NET rx              LOC = "E6" | IOSTANDARD = LVCMOS33; # 96
NET rx_done         LOC = "D6" | IOSTANDARD = LVCMOS33; # 97
NET tx              LOC = "C6" | IOSTANDARD = LVCMOS33; # 98
NET tx_start        LOC = "B6" | IOSTANDARD = LVCMOS33; # 99
NET tx_done         LOC = "A6" | IOSTANDARD = LVCMOS33; # 100

#NET "pb<0>"  LOC = "C16" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "pb<1>"  LOC = "C15" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "pb<2>"  LOC = "D16" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "pb<3>"  LOC = "D14" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "pb<4>"  LOC = "E13" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "pb<5>"  LOC = "E12" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "pb<6>"  LOC = "F16" | IOSTANDARD = LVCMOS33 | DRIVE = 12;
#NET "pb<7>"  LOC = "F15" | IOSTANDARD = LVCMOS33 | DRIVE = 12;

#NET "pc<0>"  LOC = "G12" | IOSTANDARD = LVCMOS33;
#NET "pc<1>"  LOC = "G11" | IOSTANDARD = LVCMOS33;
#NET "pc<2>"  LOC = "H15" | IOSTANDARD = LVCMOS33;
#NET "pc<3>"  LOC = "M14" | IOSTANDARD = LVCMOS33;
#NET "pc<4>"  LOC = "P11" | IOSTANDARD = LVCMOS33;
#NET "pc<5>"  LOC = "H14" | IOSTANDARD = LVCMOS33;
#NET "pc<6>"  LOC = "H11" | IOSTANDARD = LVCMOS33;
#NET "pc<7>"  LOC = "H13" | IOSTANDARD = LVCMOS33;
